{% extends 'base/layout.html' %}
{% block main %}
    <div id="cover">
        {% comment %} <h1 id="h1-index">小雞麵產銷資訊系統。</h1>{% endcomment %}
        <br><br>
        {% load static %}
        <img id="nav-img" src="https://eastasia1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=png&cs=fFNQTw&docid=https%3A%2F%2Fnccuedutw-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!TD7YDKuYOEizxO-R76AO38JZKGa3BMFJt6QUAT6yXuSkqKkbUTuqSp_4rrkXHta9%2Fitems%2F01FI6CFAGKQUTSWKKJTBBK4ZQHT2TVBHYK%3Fversion%3DPublished&encodeFailures=1&ctag=%22c%3A%7B2B2785CA-4929-4298-AE66-079EA7509F0A%7D%2C2%22&srcWidth=&srcHeight=&width=1919&height=840&action=Access" id="index">
        <!-- <img src="{% static 'images/umbrella2.png' %}" id="index"> -->
    </div>
{% endblock %}
