<div class="ui borderless main menu">
    <div class="ui container">
        <a class="header item" href="{% url 'homepage' %}">
            <img id="nav-img" src="https://jiuanimation.com/works/1203-umbrella-king-logo.jpg">
        </a>        
        <div class="ui simple dropdown item">
            存貨管理 <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'inventory:list' %}">存貨狀況</a>
            </div>
        </div>
        <div class="ui simple dropdown item">
            銷售狀況 <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'transaction:year' %}">歷年年銷售狀況</a>
                <a class="item" href="{% url 'transaction:season' %}">歷年季銷售狀況</a>
                <a class="item" href="{% url 'transaction:month' %}">歷年月銷售狀況</a>
            </div>
        </div>
        <a class="item" href="{% url 'inventory:schedule_form' %}">生產排程</a>
        <a class="item" href="{% url 'activity:detail' %}">行銷活動</a>
        <a class="item" href="{% url 'member:search' %}">會員查詢</a>
        <a class="item" href="{% url 'member:piechart' %}">會員分布圖</a>
    </div>
</div>

<br>

{% load static %}
<script src="{% static 'js/dropdown.js' %}"></script>


